.coffee-list {
  font-family: Arial, sans-serif;
  color: #004d40; /* Darker shade of teal for better readability */
  margin: 20px;
  padding: 20px;
  border: 2px solid teal;
  border-radius: 10px;
  width: 300px;
}

.coffee-list h2 {
  color: teal;
}

.coffee-list ul {
  list-style-type: none;
  padding: 0;
}

.coffee-list .container-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e0f2f1; /* Light teal background */
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 128, 128, 0.3); /* Slight shadow with teal color */
  position: relative; /* Ensure children are positioned relative to the container */
}

.coffee-list .container-details {
  flex: 1;
}

.coffee-list strong {
  color: #00695c; /* Another shade of teal */
}

.coffee-list .favorite-icon {
  margin-left: 10px; /* Adjust margin as needed */
  width: 20px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
}

.delete-button {
  background-color: #ff4d4d; /* Red background */
  color: white; /* White text */
  border: none; /* Remove border */
  padding: 5px 10px; /* Padding */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition */
}

.delete-button:hover {
  background-color: #ff1a1a; /* Darker red on hover */
}

.popup input[type="text"],
.popup input[type="number"] {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popup label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

.popup button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-button {
  background-color: #4CAF50;
  color: white;
}

.save-button:hover {
  background-color: #45a049;
}

.close-button {
  background-color: #f44336;
  color: white;
}

.close-button:hover {
  background-color: #e31e1e;
}

.toggle-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: teal;
  margin-left: 10px;
}
