* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 450px;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.div1, .div2 {
  flex-basis: 0;
}

.div1{
  flex: 6;
  margin: 20px;
}

.div2{
  flex: 4;
}

.header {

}

.create-header{
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  /*justify-content: center;*/
  text-align: center;
}

#label {
  padding-top: 5px;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}
.myBtn {
  margin: 10px;
  padding: 5px 15px;
  color: teal;
  font-size: 14px;
  background: transparent;
  border: 1px solid teal;
  border-radius: 4px;
}

.myInput {
  width: 100%;
  padding: 5px 15px;
  margin: 5px 0;
  border: 1px solid teal;
  border-radius: 4px;
}


.remove-btn {
  margin-right: 0.5rem;
}

.post-enter {
  transform: translateX(-350px);

}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-350px);
  transition: all 300ms ease-in;
  transition-delay: 200ms;
}

.page__wrapper {
  display: flex;
  margin-top: 30px;
}

.page{
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
}

.page__current {
  border: 2px solid orange;
  font-weight: bold;
}

img{
  height: 30px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  border: 2px solid teal; /* Враховуємо основний колір */
}

.popup-inner ul {
  list-style: none;
  padding: 0;
}

.popup-inner li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  color: teal; /* Основний колір */
}

.popup-inner button {
  margin-top: 20px;
  padding: 10px 20px;
  color: teal;
  font-size: 14px;
  background: transparent;
  border: 1px solid teal;
  border-radius: 4px;
}

.toggle-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: teal;
  margin-left: 10px;
}

